extends layout

block content
  h3.m-5 
    span.newroom 新しいルームを作る
  form(method="post", action="/rooms").mx-5
    input(type="hidden" name="_csrf" value!=csrfToken)
    div.form-group
      label(for="roomName") ルーム名 
      input(type="text" name="roomName")#roomName.form-control
    div.form-group
      label(for="bpm") BPM 
      input(type="number", name="bpm", value="100")#bpm.form-control
    div.form-group
      label(for="memo") メモ
      textarea(name="memo")#memo.form-control
    button(type="submit").btn.btn-secondary ルームをつくる 